<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetSaleSvc.Api.CTMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NetSaleSvc.Api.CTMS.Properties.Settings>
            <setting name="NetSaleSvc_Api_CTMS_CxService_TspSoapServiceImplService"
                serializeAs="String">
                <value>http://tsp.oristartech.cn:8080/tsp-ws/services/tsp/cinema</value>
            </setting>
            <setting name="NetSaleSvc_Api_CTMS_NationalStandardService_NsService"
                serializeAs="String">
                <value>http://zjpt.80piao.com:81/NsService.asmx</value>
            </setting>
            <setting name="NetSaleSvc_Api_CTMS_NsFetchTicket_FetchTicketSvc"
                serializeAs="String">
                <value>http://ccz.80piao.com:89/FetchTicketSvc.asmx</value>
            </setting>
        </NetSaleSvc.Api.CTMS.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>