@{
    ViewBag.Title = "错误";
}

<section class="content-header">
    <h1>
        处理您的请求时出错
        <small></small>
    </h1>
</section>

<section class="content">
    <!-- Your Page Content Here -->

    <div class="row">
        <div class="col-xs-12">
            <h1>错误信息：@ViewData["Error"]</h1>
        </div>
    </div>

</section>

